body{
    margin: 0;

}
.back-img-absolute{
    position: absolute;

    width: 100%;
    height: 100vh;
}
.main{
    max-width: 100%;
    margin: 0 auto;
    transition: 0.5s;
    font-family: 'Rubik', sans-serif;
    color: #2A363B;
    box-sizing: border-box;
}
input:focus{
    outline:none;
}
input{
    outline: none;
}
.card-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 340px;
    width: 100%;
    transition: 0.5s;
    grid-template-areas: "ed sp" "en hs";
}
.card-box__item{
    border-radius: 17px;

    perspective: 800px;
    transition: 0.5s;
    display: flex;
}
.card-box__item-box{

    width: 95%;
    height: 90%;
    background-color: #FFFFFF;
    border-radius: 17px;
    transform-style: preserve-3d;
    transition: 0.8s ease;
    cursor: pointer;
}
.card-box__item_householding{
    justify-content: center;
    align-content: center;
}
.card-box__item_entertainment{
    justify-content: center;
}
.card-box__item_sport{
    justify-content: center;
}
.card-box__item_education{
    justify-content: center;
}
.card-box__item-box-householding{
    align-self: center;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
    -moz-box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
    box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
}
.card-box__item-box-education{
    align-self: center;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
    -moz-box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
    box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
}
.card-box__item-box-entertainment{
    align-self: center;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
    -moz-box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
    box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
}
.card-box__item-box-sport{
    align-self: center;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
    -moz-box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
    box-shadow: 0px 4px 12px 0px rgba(148,148,148,0.77);
}
.card-box__item-box_front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #2A363B;
    border-radius: 17px;
    display: flex;

}
.card-box__item-box_back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #2A363B;
    border-radius: 17px;
    transform: rotateY(180deg);
}
.card-box__percent-box-item svg{
    position: relative;
    width: 150px;
    height: 150px;
}
.card-box__percent-box-item svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 15;
    stroke: #000;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;

}
.card-box__percent-box-item svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke:#e5e5e5;

}
.card-box__percent-box-item .card-box__percent-box-item-education circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * (25 - (25/ 14))) / 100);
    stroke: #2F80ED;
}
.card-box__percent-box-item .card-box__percent-box-item-sport circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * (50 - (50/ 14))) / 100);;
    stroke: #EB5757;
}

.card-box__percent-box-item .card-box__percent-box-item-entertainment circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * (75 - (75/ 14))) / 100);;
    stroke: #9B51E0;
}

.card-box__percent-box-item .card-box__percent-box-item-householding circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * (100 - (100/ 14))) / 100);;
    stroke: #27AE60;
}

.card-box__percent-box-number{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
    font-size: 36px;
}
.card-box__percent-box{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-box__percent-box-item section{
    width: 150px;
    height: 150px;
}
.card-box__percent-box-text{
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;

}
.card-box__tasks-box-text{
    align-self: center;
}
.card-box__tasks-box{
    height: 100%;
    display: flex;
}
.card-box__tasks-box-text-header{
    margin-top: 0;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;

}
.card-box__tasks-box-text-quest{
    margin-top: 0;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;

}
.card-box__tasks-box-text-quest_pink{
    color: #E84A5F;
    font-weight: 600;
}
.card-box__text-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 25%;
    width: 90%;
    margin-left: 10%;
    transition: 0.5s;
    grid-template-areas: "da" "da" "we" "mo";
}
.card-box__daily-tasks{
    grid-area: da;

}
.card-box__weekly-tasks{
    grid-area: we;
}
.card-box__monthly-tasks{
    grid-area: mo;
}
.card-box__tasks-header{
    font-size: 24px;
}
.battle-pass-box{
    height: 100vh;
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    align-content: flex-end;
}
.flex-end{
    align-self: flex-end;
    margin-bottom:4%;
}
.card-box-main{

    max-width: 1224px;
    margin:60px auto;
}